<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsible-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}SESHOOK{{/link-to}}
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse" id="collapsible-nav">
      {{#if session.isAuthenticated}}
        <ul class="nav navbar-nav navbar-left">
          {{#link-to "index" tagName="li" id='index'}}
            <a {{bind-attr href="view.href"}}>Home</a>
          {{/link-to}}
          {{#link-to "explore" tagName="li" id='explore'}}
            <a {{bind-attr href="view.href"}}>Explore</a>
          {{/link-to}}
        </ul>
      {{/if}}
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img class="img-circle navbar-avatar" {{bind-attr src=session.currentUser.avatar_thumb}} alt="Logo">
              {{ session.currentUser.email }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>{{#link-to 'profile' id='profile'}}Profile{{/link-to}}</li>
              <li class="divider"></li>
              <li><a id='logout' {{ action 'invalidateSession'}}>Logout</a></li>
            </ul>
          </li>
        {{else}}
          {{#link-to "register" tagName="li" id='register'}}
            <a {{bind-attr href="view.href"}}>Register</a>
          {{/link-to}}
          {{#link-to "login" tagName="li" id='login'}}
            <a {{bind-attr href="view.href"}}>Login</a>
          {{/link-to}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>


  <div class="container full-col">
    <div class="row">

        {{outlet}}

    </div>
  </div>
