<div class="col-sm-6 col-sm-offset-3">
  <div id="login-panel" class="panel panel-default center-block">
    <div class="panel-heading"><h2>Login</h2></div>
    <div class="panel-body">
      {{#if errorMessage}}
      <div class="alert alert-danger alert-dismissable">
        <button {{action 'closeErrorMessage'}} class="close">&times;</button>
        <strong>Oh snap!</strong> {{errorMessage}}
      </div>
      {{/if}}
      <!-- facebook login -->
      {{facebook-auth}}
      <div class="divider"></div>
      <!-- email login -->
      <form role="form" {{action 'authenticate' on='submit'}}>
        <div class="form-group">
          <label for='identification'>Email</label>
          {{input id='identification' class='form-control' placeholder='Enter Email' value=identification}}
        </div>
        <div class="form-group">
          <label for='password'>Password</label>
          {{input id='password' class='form-control' placeholder='Enter Password' type='password' value=password}}
        </div>
        <button type='submit' class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>
