<div id="profile" class="row">
  <div class="col-md-6 col-md-offset-3">
    {{#if message}}
      <div class="alert alert-success alert-dismissable">
        <button {{action 'closeMessage'}} class="close">&times;</button>
        <strong>Yey!</strong> {{message}}
      </div>
    {{/if}}
    <div class="page-header">
      <h2>Change your avatar</h2>
    </div>
    <div class="avatar-container">
      <img class="img-circle avatar" {{bind-attr src=model.avatar_medium}} alt="Logo">
    </div>
    <div class="page-header">
      <h2>Edit your informations</h2>
    </div>
    <form role="form" {{action 'save' on='submit'}}>
      <div {{bind-attr class=":form-group model.errors.email:has-error"}}>
        <label for='email'>Email</label>
        {{input id='email' class='form-control' placeholder='Enter Email' value=model.email}}
        {{#each error in model.errors.email}}
        <div class="error">
          <span class="help-block">{{error.message}}</span>
        </div>
        {{/each}}
      </div>
      <button type='submit' class="btn btn-primary">Save</button>
    </form>
  </div>
  {{outlet}}
</div>