<!DOCTYPE html>
<html>
<head>
  <title>Backend</title>

  <%# javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'frontend' %>
  <%= include_ember_script_tags :frontend %>
</head>
<body>

<%= render 'shared/flash_messages', flash: flash %>

<%= yield %>

</body>
</html>
